@font-face {
    font-family: 'liberation';
    src: url('LiberationSans-Regular-webfont.eot');
    src: url('LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSans-Regular-webfont.woff') format('woff'),
         url('LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('LiberationSans-Regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation';
    src: url('LiberationSans-Bold-webfont.eot');
    src: url('LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSans-Bold-webfont.woff') format('woff'),
         url('LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('LiberationSans-Bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'liberation';
    src: url('LiberationSans-BoldItalic-webfont.eot');
    src: url('LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSans-BoldItalic-webfont.woff') format('woff'),
         url('LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
         url('LiberationSans-BoldItalic-webfont.svg#liberation_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'liberation';
    src: url('LiberationSans-Italic-webfont.eot');
    src: url('LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSans-Italic-webfont.woff') format('woff'),
         url('LiberationSans-Italic-webfont.ttf') format('truetype'),
         url('LiberationSans-Italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
